.userRoleBox{
    position: relative;
    z-index: 10;
    margin: auto;
}

.userRoleBox .userRoleModal{
    width: 380px;
    padding: 10px;
    border: 2px solid #90b8a0;
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    bottom: 15px;
}

.userRoleBox .userRoleModal .close_ svg{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2px 5px;
    width: 34px;
    height: 34px;
}

.userRoleBox .userRoleModal .close_ svg:hover{
    color: #6d967d;
}

.userRoleBox .userRoleModal .row{
    width: 100%;
    justify-content: space-between;
}

.userRoleBox .userRoleModal .row svg{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    padding: 3px;
}

.userRoleBox .userRoleModal .row svg:hover{
    color: #fff;
    background-color: #90b8a0;
}

.userRoleBox .userRoleModal h2{
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
    font-weight: 500;
}

.userRoleBox .userRoleModal .update_name{
    display: flex;
    align-items: center;
}

.userRoleBox .userRoleModal .update_email{
    display: flex;
    align-items: center;
}

.userRoleBox .userRoleModal .col{
    display: flex;
    align-items: center;
    gap: 60px;
}

.userRoleBox .userRoleModal select {
    font-size: 16px;
    border: 2px solid #90b8a0;
    border-radius: 6px;
    outline: none;
    padding: 3px;
}

.userRoleBox .userRoleModal select .col .option{
    font-size: 14px;
    padding: 5px;
}

.userRoleBox .userRoleModal button{
     padding: 8px;
     width: 150px;
     background: #90b8a0;
     color: #fff;
     border-radius: 6px;
     margin: 10px auto;
}

.userRoleBox .userRoleModal button:hover{
     background: #6d967d;
}